<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.tajik_anemia_study">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:hardwareAccelerated="true"
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.lists.MwraListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.lists.ChildListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.lists.PregnancyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.IdentificationActivity"
            android:label="@string/sech1title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splashscreen"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.sections.SectionH1Activity"
            android:label="@string/sech1title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH2aActivity"
            android:label="@string/sech2title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH2bActivity"
            android:label="@string/sech2title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH2cActivity"
            android:label="@string/sech2ctitle2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH2dActivity"
            android:label="@string/sech2dtitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH3aActivity"
            android:label="@string/sech3title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH3bActivity"
            android:label="@string/sech3title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH4Activity"
            android:label="@string/sech4title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH5Activity"
            android:label="@string/sech5title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH6Activity"
            android:label="@string/sech6title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionH7Activity"
            android:label="@string/sech7title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionW1aActivity"
            android:label="@string/secw1title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionW1bActivity"
            android:label="@string/secw1atitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionW2Activity"
            android:label="@string/secw2title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionW3Activity"
            android:label="@string/secw3title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionW4Activity"
            android:label="@string/secw4title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionC1Activity"
            android:label="@string/secc1title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionC2Activity"
            android:label="@string/secc2title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionC3Activity"
            android:label="@string/secc3title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionAnthroActivity"
            android:label="@string/moddtitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionSamplesActivity"
            android:label="@string/modeatitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.SyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.EndingActivity"
            android:label="@string/istatus"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".database.AndroidDatabaseManager"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FormsReportCluster"
            android:exported="false"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FormsReportDate"
            android:exported="false"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FormsReportPending"
            android:exported="false"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>